.note-editor {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: var(--bg-primary);
  padding: 1.5rem 2rem;
  border-radius: 10px;
  min-width: 350px;
  margin: 2rem auto;
  max-width: 790px;
  box-shadow: 0 0.5px 8px rgba(60, 90, 210, 0.08);
}

.note-editor-title {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.54rem 0.7rem;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  margin-bottom: 1rem;
}

.note-editor-text {
  min-height: 120px;
  resize: vertical;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background: var(--bg-secondary);
  font-size: 1.05em;
}

.note-editor-tags {
  margin: 1rem 0 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.note-editor-tags-input {
  flex: 1 1;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  padding: 0.5em 0.7em;
  font-size: 0.97rem;
}

.note-editor button.btn-accent {
  width: max-content;
  margin-top: 1.1rem;
  align-self: flex-end;
}

.note-editor-empty {
  text-align: center;
  color: var(--text-secondary, #bbb);
  margin: 5em auto 2em auto;
  font-size: 1.22em;
}

/* Mobile */
@media (max-width: 700px) {
  .note-editor,
  .note-editor-title,
  .note-editor-text,
  .note-editor-tags {
    padding: 0.5em 0.38em;
    margin: 0.25em;
    min-width: unset;
  }
}
